# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore files and directories created in the process of distribution
*.egg-info/
dist/
build/

# Ignore files and directories created when installing in dev mode
*-linux-gnu.so
__pycache__/
cpp.py
cpp_wrap.cpp

# Ignore VIM swap files
*.swp
